* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: auto;
  height: 50px;
}

.top {
  background-color: #ff9a4b;
}

.bottom {
  background: #aaaaaa;
}

section {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.content-box {
  width: 300px;
  background-color: #eeeeee;
  margin-right: 30px;
  position: relative;
  padding: 10px;
}

.step3 {
  margin-right: 0px;
}

.image {
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.s1 {
  background-image: url(img/flow01.png);
}

.s2 {
  background-image: url(img/flow02.png);
}

.s3 {
  background-image: url(img/flow03.png);
}

.step {
  background-color: #ff9a4b;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
}

.title {
  padding-top: 15px;
  padding-bottom: 5px;
}

.text {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  section {
    width: 90%;
    display: block;
  }

  .content-box {
    width: 100%;
    margin: 0 auto 20px;
  }

  .content-box:last-child {
    margin-bottom: 0px;
  }
}
